html.dark {
  background-color: rgb(15, 23, 42);
}

.switch-card {
  display: grid;
  grid-template-columns: 1fr 4em;
}

.switch-card input[type="checkbox"]:not(:checked) {
  height: 1em;
  width: 1em;
  margin-left: 0.2em;
}

.switch-card input[type="checkbox"]:checked {
  color: green;
}

@media (max-width: 480px) {
  .full-screen-dialog {
    padding: 0
  }

  .full-screen-dialog-content {
    min-width: 100vw;
    min-height: 100vh;
    margin: 0;
    border-radius: 0;
  }
}